@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@model Geyser.Models.TblProduct
<div id="root">
    <nav>
        @Html.Raw(ViewBag.nUrl)
    </nav>
</div>
<div id="product">

    <div id="contentProduct" itemscope itemtype="http://schema.org/Product">
        <span itemprop="name" class="hidendPrice">@Model.Name</span>
        <div id="topContentProduct">

            <div id="imageProduct">

                <div id="genuine" style="background:url(/Images/images/tem-kangaroo-chinh-hang.png); background-size:100%"></div>

                <div id="imgThumb">
                    <a href="javascript:;" title="@Model.Name"><img itemprop="image" src="@Model.ImageLinkDetail" alt="@Model.Name" /></a>
                </div>
                <div id="listImageProduct">
                    <ul>
                        @Html.Raw(ViewBag.chuoiimages)
                    </ul>
                </div>
            </div>
            <div id="infoProduct">
                <h1 itemprop="name">@Model.Name</h1>
                <ul class="ulPrice" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" cont Order nowent="VND" />
                    @if (Model.PriceGift > 0)
                    {
                        <li><i class="fas fa-check-square"></i> Giá niêm yết nhà máy : <span class="price">@String.Format("{0:#,#}", Model.Price)đ</span></li>
                        <li><i class="fas fa-check-square"></i> Giá công bố website : <span class="priceSale">@String.Format("{0:#,#}", Model.PriceSale)đ</span> <samp>( Gọi điện giảm giá bất ngờ )</samp></li>
                        <li><i class="fas fa-check-square"></i> Giá bán khi gọi điện giảm từ : <span class="priSalebest">-@String.Format("{0:#,#}", Model.PriceSale - Model.PriceGift)đ</span> <a href="tel:@ViewBag.hotline" title="Gọi ngay"><i class="fas fa-microphone"></i> Gọi ngay : @ViewBag.hotline</a></li>

                    }
                    else
                    {
                        <li><i class="fas fa-check-square"></i> Giá niêm yết nhà máy : <span class="price">@String.Format("{0:#,#}", Model.Price)đ</span></li>
                        <li><i class="fas fa-check-square"></i> Giá công bố website : <span class="priceSale">@String.Format("{0:#,#}", Model.PriceSale)đ</span> <samp>( Gọi điện giảm giá bất ngờ )</samp></li>

                    }

                    <div class="hidendPrice">
                        <span itemprop="price">@Model.PriceSale</span>
                        <time itemprop="priceValidUntil" datetime="2019-@DateTime.Now.Month-28">06/28</time>
                        <link itemprop="availability" href="http://schema.org/InStock" />In stock! Order now!
                        <a href="/@Model.Tag@Html.Raw(".html")" itemprop="url" title="@Model.Name">@Model.Name</a>

                    </div>

                </ul>

                @if (Model.PriceNote != null && Model.PriceNote != "")
                {
                    <span class="priceNote">@Model.PriceNote</span>
                }

                <p class="p2">Nơi nào thuộc hệ thống chính hãng bán rẻ hơn quý khách vui lòng gọi lại chúng tôi sẽ giảm bằng và tặng quà quý khách !</p>
                @if (Model.Sale != null && Model.Sale != "")
                {
                    <div class="boxSale">
                        <span class="sale">Khuyến mại trong tuần</span>
                        <div class="contentBoxSale">
                            @Html.Raw(Model.Sale)
                        </div>
                    </div>
                }
                <div class="boxOrder">
                    <div id="orderNow">


                        <a href="tel:@ViewBag.hotline" title="gọi điện hỗ trợ" id="callNow">
                            <span class="note1"> @ViewBag.hotline </span>
                            <span class="note2">Giảm thêm giá khi gọi điện</span>
                        </a>
                        <a href="#myModal" title="Yêu cầu tư vấn" id="request" data-toggle="modal" data-target="#myModal">
                            <span class="note1">Yêu cầu tư vấn</span>
                            <span class="note2">Chúng tôi gọi và tư vấn cho bạn</span>
                        </a>
                        @if (Request.Browser.IsMobileDevice)
                        {
                            <a href="/order/OrderAdd?id=@Model.Id&ord=1" id="btnBuy">
                                <span class="note1">Đặt hàng ngay</span>
                                <span class="note2">Miễn phí giao hàng tại Hà Nội và TPHCM trong 2 giờ</span>
                            </a>
                        }
                        else
                        {<a href="#popup_content" id="btnBuy" rel="miendatwebPopup" onclick="CreateOrder(@Model.Id)">
                                <span class="note1">Đặt hàng ngay</span>
                                <span class="note2">Miễn phí giao hàng tại Hà Nội và TPHCM trong 2 giờ</span>
                            </a>
                        }



                    </div>


                </div>
                <ul class="ulInfo">
                    <li>
                        <i class="fa fa-check-circle-o" aria-hidden="true" style="color:@ViewBag.color"></i>
                        Mã sản phẩm : <span itemprop="sku">@Model.Code</span>
                    </li>
                    <li><i class="fa fa-check-circle-o" aria-hidden="true" style="color:@ViewBag.color"></i> Xuất xứ : <span itemprop="brand">Chính hãng</span></li>

                    <li><i class="fa fa-check-circle-o" aria-hidden="true" style="color:@ViewBag.color"></i> Bảo hành : <span>@Model.Warranty tháng</span></li>
                </ul>
                <ul class="ulInfo">

                    <li>
                        <i class="fa fa-check-circle-o" aria-hidden="true" style="color:@ViewBag.color"></i> Vận chuyển :

                        @if (Model.Transport == true)
                        {
                            <span>Giao hàng toàn quốc</span>
                        }
                        else
                        {
                            <span>Vui lòng liên hệ</span>
                        }
                    </li>
                    <li>
                        <i class="fa fa-check-circle-o" aria-hidden="true" style="color:@ViewBag.color"></i> Tình trạng :
                        @if (Model.Status == true)
                        {<span>Còn hàng</span> }
                        else
                        {
                            <span>Tạm hết hàng</span>
                        }


                    </li>
                </ul>
                @if (Model.Info != null && Model.Info != "")
                {
                    <div class="infoDetail" itemprop="description">
                        @Html.Raw(Model.Info)
                    </div>
                }



                <span class="hidendPrice" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <span itemprop="ratingValue">5.0</span> stars, based on <span itemprop="reviewCount">@Model.Visit</span> reviews
                </span>
                <div class="hidendPrice" itemprop="review" itemscope itemtype="http://schema.org/Review">
                    <span itemprop="name">@Model.Name</span> -
                    by <span itemprop="author">Kangaroo</span>,
                    <meta itemprop="datePublished" content="@Convert.ToDateTime(Model.DateCreate).Year-@Convert.ToDateTime(Model.DateCreate).Month-29">@Convert.ToDateTime(Model.DateCreate).Month 29, @Convert.ToDateTime(Model.DateCreate).Year
                    <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <meta itemprop="worstRating" content="1" />
                        <span itemprop="ratingValue">4</span>/
                        <span itemprop="bestRating">5</span>stars
                    </div>


                </div>
            </div>
        </div>
        <div id="transports">
            <div class="Tear_Tran tt">
                <span class="tr1">MIỄN PHÍ LẮP ĐẶT </span>
                <span class="tr2">Đơn hàng >= 250.00đ tại Hà Nội</span>
            </div>
            <div class="Tear_Tran gh">
                <span class="tr1">CHUYỂN HÀNG TOÀN QUỐC</span>
                <span class="tr2">Chuyển hàng, thu tiền tại nhà </span>
            </div>
            <div class="Tear_Tran dh">
                <span class="tr1">LÀM VIỆC TỪ 8H - 21H30</span>
                <span class="tr2">Làm việc cả thứ 7 - CN</span>
            </div>
        </div>

        <div id="detailProduct" itemprop="description">
            <div class="nvarName" style="border-bottom:1px solid @ViewBag.color">
                <span style="background:@ViewBag.color">Thông tin sản phẩm</span>
            </div>
            <div id="contentDetailProduct">
                <div id="infoContent">

                    <table id="table">
                        <tbody>
                            <tr>
                                <td>Tên sản phẩm :</td>
                                <td>@Model.Name</td>
                            </tr>
                            <tr>
                                <td>Mã sản phẩm :</td>
                                <td>@Model.Code</td>
                            </tr>
                            <tr>

                                <td>Kích thước:</td>
                                <td>@Model.Size (mm)</td>
                            </tr>
                            <tr>
                                <td>Thương hiệu</td>
                                <td>@ViewBag.manuName</td>
                            </tr>
                            <tr>
                                <td>Bảo hành</td>
                                <td>@Model.Warranty tháng</td>
                            </tr>

                            <tr><td>Tuổi thọ</td><td>@Model.Time<br> </td> </tr>
                            @Html.Raw(ViewBag.chuoi)
                        </tbody>
                    </table>
                </div>
                @if (Model.Video != null && Model.Video != "")
                {
                    <h3>Giới thiệu @Model.Name</h3>
                    <div id="videoContent">
                        @if (Request.Browser.IsMobileDevice)
                        {<iframe width="100%" height="320" src="https://www.youtube.com/embed/@Model.Video?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=allowfullscreen></iframe>

                        }
                        else
                        {
                            <iframe width="100%" height="760" src="https://www.youtube.com/embed/@Model.Video?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=allowfullscreen></iframe>

                        }
                    </div>

                }
                <div class="clear"></div>
                <div id="contentBody">
                    @Html.Raw(Model.Content)
                    @Html.Raw(Model.Parameter)
                </div>
                         <img src="~/Content/Display/images/Geyser-chung-nhan.jpg" alt="chung nhan dai ly geyser" />
            </div>
            <div id="tags">
                <span><i class="fa fa-tags" aria-hidden="true"></i> Tags: </span> @Html.Raw(ViewBag.chuoitag)
            </div>
            <div class="buynow-button" style="border-left: 7px @ViewBag.color  solid; background-color: #fafafa; ">
                <div class="buynow-button-inner">
                    <h3 class="name-product">@Model.Name</h3>
                    <div class="thumb"><img src="@Model.ImageLinkThumb" alt="@Model.Name" title="@Model.Name"></div>
                    <div class="price">
                        <span>Giá bán: <span class="new-price">@String.Format("{0:#,#}", Model.PriceSale) vnđ</span></span><br>
                        <span>Giá thị trường: <span class="old-price">@String.Format("{0:#,#}", Model.Price) vnđ</span></span><br>
                    </div>
                    <div class="button">

                        @if (Request.Browser.IsMobileDevice)
                        {
                            <a style="background:@ViewBag.color; text-align:center" href="/order/OrderAdd?id=@Model.Id&ord=1" class="buy-now">Đặt hàng <i class="fa fa-cart-plus" aria-hidden="true"></i></a>

                        }
                        else
                        {
                            <input type="button" style="background:@ViewBag.color" value="Đặt hàng" class="buy-now" id="open_popup" name="open_popup" rel="miendatwebPopup" href="#popup_content" onclick="CreateOrder(@Model.Id)" />

                        }
                    </div>

                    <div style="clear: both"></div>
                </div><!--End .buynow-button-->
            </div>
            <div id="comments">
                <div id="nvar"><span><i class="fas fa-comments"></i> Hỏi đáp về sản phẩm</span></div>
                <div id="contentComment">

                    <div id="feedback">
                        <div id="contentFeedback">
                            @using (Html.BeginForm("command", "product", FormMethod.Post))
                            {
                                <div id="leftContentFeedback">
                                    <div id="cmacount">

                                        <textarea required name="txtfeedback" id="txtfeedback" placeholder="Nhập ý kiến của bạn" rows="3"></textarea>
                                        <input required type="text" name="txtName" id="txtName" placeholder="Nhập họ tên" />
                                        <input required type="email" name="txtEmail" id="txtEmail" placeholder="Nhập email" />
                                        <input type="hidden" id="txtId" name="txtId" value="" />
                                        <input type="hidden" id="txtIdc" name="txtIdc" value="@Model.Id" />
                                        <input type="hidden" id="txtNameFb" name="txtNameFb" value="@Model.Name" />
                                        <input type="hidden" id="txtTag" name="txtTag" value="@Model.Tag" />

                                    </div>
                                    <div id="cmfacebook">
                                        <div class="fb-comments" data-href="@Request.Url.ToString()" data-width="100%" data-numposts="5"></div>
                                    </div>
                                </div>
                                <div id="rightContentFeedback">
                                    <button type="submit" name="btnSubmitFeedback" id="btnSubmitFeedback"><i class="fas fa-share"></i> Gửi ý kiến phản hồi</button>
                                    <button type="submit" name="btnSubmitFeedbackfb" id="btnSubmitFeedbackfb"><i class="fab fa-facebook-f"></i> Gửi ý kiến bằng Facebook</button>
                                    <div class="Clear"></div>
                                    <div id="note">
                                        <p>Vui lòng nhập đủ thông tin</p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="listFeedback">
                            @Html.Raw(ViewBag.resultFeedback)
                            @Html.Raw(ViewBag.schema)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="productConnect">
            <div class="nvarName" style="border-bottom:1px solid @ViewBag.color">
                <span style="background:@ViewBag.color">Sản phẩm liên quan</span>
            </div>
            @Html.Raw(ViewBag.resultLienquan)
        </div>
    </div>
</div>
<style>
     #contentDetailProduct h2{ font-size:17px; color:@ViewBag.color1 font-family:"Open Sans",sans-serif!important; margin:15px 0px; position:relative; padding-bottom:5px;       font-weight:bold; text-transform:uppercase;}
#contentDetailProduct h2:before{position:absolute; border-bottom:2px solid @ViewBag.color; content:''; bottom:0px; left:0px; width:80px}
#contentDetailProduct h2:after{position:absolute; border-bottom:2px solid @ViewBag.color3; content:''; bottom:0px; left:82px; width:200px}
      #contentDetailProduct h3{ font-size:17px; color:@ViewBag.color1 font-family:"Open Sans",sans-serif!important; margin:15px 0px; position:relative; padding-bottom:5px;       font-weight:bold; text-transform:uppercase;}
#contentDetailProduct h3:before{position:absolute; border-bottom:2px solid @ViewBag.color; content:''; bottom:0px; left:0px; width:80px}
#contentDetailProduct h3:after{position:absolute; border-bottom:2px solid @ViewBag.color3; content:''; bottom:0px; left:82px; width:200px}
</style>
<script>
    function getImage(images, cl) {
        $("#imgThumb a").html('<img src=' + images + ' class="small" alt="" />');
        $("#listImageProduct ul li").removeClass("setImages");
        $("." + cl).addClass("setImages");
        return true;
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("iframe").wrap("<div class=\"video-responsive\"></div>");
    });
</script>
<script>
    $(document).ready(function () {
        $("#btnSubmitFeedbackfb").click(function () {
            $("#cmacount").removeClass();
            $("#cmfacebook").removeClass();
            $("#cmacount").addClass("hide");
            $("#cmfacebook").addClass("show");
        });
        $("#btnSubmitFeedback").click(function () {
            $("#cmacount").removeClass();
            $("#cmfacebook").removeClass();
            $("#cmacount").addClass("show");
            $("#cmfacebook").addClass("hide");
        });
        $(".account .rp").click(function () {

            $("#txtId").val($(this).attr("title"));


        });
    });
</script>
<script type="text/javascript">
    function Likes(id) {
        $.post("/product/likes", { "id": id },
            function (data) {
                $(".like" + id + "").html("<i class=\"far fa-thumbs-up\"></i> Like (" + data.like + ")");
            });
        return false;
    }
</script>